.navbar {
    text-align: center;
}

.tabs {
    margin: 3%;
    vertical-align: text-bottom;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    right: 100px;
    padding-left: 10px;
}

.form-control {
    position: static;
    right: 100px;
    width: 200px;
    margin-left: 1600px;
}

.active {
    height: 400px;
    width: 100%;
}

.form-control2 {
    position: static;
    margin-left: 800px;
    width: 300px;
    margin-top: 20px;
}

.email {
    background: radial-gradient(ellipse at center, rgba(252, 202, 178, 0.56) 0%, rgba(255, 177, 140, 0.2) 100%) !important;
    height: 70px;
}

p {
    text-align: center;
}

h3 {
    text-align: center;
}

.follow {
    height: 50px;
    border: 1px solid rgb(224, 224, 224);
}