.navbar {
    text-align: center;
}

.tabs {
    margin: 3%;
    vertical-align: text-bottom;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    right: 100px;
    padding-left: 10px;
}

.form-control {
    position: static;
    right: 100px;
    width: 200px;
    margin-left: 1600px;
}

.slideshowBanner {
    height: 500px;
    background-color: red;
    border: 10px solid black;
    width: 100%;
}