<!DOCTYPE html>
<html lang="en" ng-app="tempFilter">

<head>
    <meta charset="UTF-8">
    <title>Convert Temperatures Filter</title>
</head>

<body ng-controller="mainCntrl">
    <div>
        Current Temperature: Los Angeles, CA {{temp | convertTemps:type}}
        <select ng-model="type" ng-options="item for item in Items"></select>
    </div>
    <div ng-repeat="item in temps">

        {{ item | convertTemps: "C"}}

    </div>



</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
<script src="app.js"></script>
<script src="service.js"></script>

</html>