#carouselHome {
    text-align: center;
}

h1 {
    font-family: Lucida Console;
    font-size: 200px;
    text-align: center;
}

img {
    width: 100%;
}

#carouselAbout {
    text-align: center;
}

#carouselLove {
    text-align: center;
    width: 80%;

}