body {
    display:flex;
    justify-content: space-around;
    
}
#add {
    background-color: aquamarine;
    height: 200px;
    padding-top: 100px;
}

input {
    height: 20px;
    vertical-align: middle;
    align-self: center;
}

#subtract {
    background-color: seashell;
    height: 200px;
    padding-top: 100px;
}

#multiply {
    background-color: silver;
    height: 200px;
    padding-top: 100px;
}

P {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}