@font-face {
    font-family: "StarWars";
    font-style: normal;
    font-weight: normal;
    src: url('TrueType/SFDistantGalaxy-Italic.ttf') format('truetype');
}

#brandLogo {
    width: 30px;
}

.serviceBox {
    border: 3px solid yellow;
    width: 80%;
    border-radius: 10px;
    background: rgba(243, 236, 32, 0.49);
}

#levelTitle {
    font-size: 500%;
    text-align: center;
    font-family: "StarWars";
}

#servicesHeading {
    font-size: 350%;
    text-decoration: underline;
    padding-top: 6%;
    padding-left: 2%;
    font-family: "StarWars"
}

#listOfServices {
    font-size: 400%;
    list-style: circle;
    padding: 8%;
    font-family: "ITC Serif Gothic", Lato;
}

#servicesDescription {
    border: 2px solid black;
    background-color: red;
    font-size: 200%;
    border-radius: 25px 60px 45px;
    width: 250%;
    padding: 10%;
    text-align: center;
    font-family: "ITC Serif Gothic", Lato;
}

.bountyKiller {
    width: 25%;
    margin-left: 40%;
    position: absolute;
}

.button {
    width: 50%;
    font-size: 30px;
    color: black;
    margin-left: 25%;
    margin-bottom: 3%;
    font-family: "StarWars";
}

#fee {
    font-size: 350%;
    text-decoration: underline;
    padding-top: 6%;
    padding-left: 2%;
    font-family: "StarWars"
}

#serviceFees {
    font-size: 300%;
    list-style: circle;
    padding: 5%;
    font-family: "ITC Serif Gothic", Lato;
}

h1 {
    color: white;
    font-family: "StarWars";
}

h2 {
    color: white;
}

.bountiesList {
    background-color: rgba(243, 236, 32, 0.49);
    border: 5px dotted #000;
    box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
    padding: 6%;
}


/* Animation properties */

.star {
    animation: star 10s ease-out infinite;
}

.wars {
    animation: wars 10s ease-out infinite;
}

.byline span {
    animation: spin-letters 10s linear infinite;
}

.byline {
    animation: move-byline 10s linear infinite;
}


/* Keyframes */

@keyframes star {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(-0.75em);
    }
    20% {
        opacity: 1;
    }
    89% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}

@keyframes wars {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(0.5em);
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}

@keyframes spin-letters {
    0%,
    10% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    30% {
        opacity: 1;
    }
    70%,
    86% {
        transform: rotateY(0);
        opacity: 1;
    }
    95%,
    100% {
        opacity: 0;
    }
}

@keyframes move-byline {
    0% {
        transform: translateZ(5em);
    }
    100% {
        transform: translateZ(0);
    }
}


/* Make the 3D work on the container */

.starwars-demo {
    perspective: 800px;
    transform-style: preserve3d;
}


/* General styles and layout */

body {
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
    background-size: cover;
}

.starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
}

.byline span {
    display: inline-block;
}

img {
    width: 100%;
}

.star,
.wars,
.byline {
    position: absolute;
}

.star {
    top: -0.75em;
}

.wars {
    bottom: -0.5em;
}

.byline {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2.25em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
}


/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
    .starwars-demo {
        font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .starwars-demo {
        font-size: 7px;
    }
    .serviceBox {
        width: 100%
    }
    #levelTitle {
        font-size: 300%;
    }
    #servicesHeading {
        font-size: 200%;
    }
    #listOfServices {
        font-size: 160%;
    }
    #servicesDescription {
        font-size: 120%;
        width: 60%;
        margin-left: 20%
    }
    #fee {
        font-size: 200%;
    }
    #serviceFees {
        font-size: 160%;
    }
}