h1 {
    font-family: Courier New, serif;
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
}

img {
    width:300px;
    margin-left: 750px;
}

form {
    border: 2px solid black;
    text-align: left;
    margin-left: 700px;
    margin-right: 700px;
}

legend {
    border: 1px dashed black;
}

ul {
    list-style-type: none;
}

#button{
    margin-left: 150px;
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
}

input {
    margin-left: 8px;
}

select {
    margin-left: 8px;
}