<!DOCTYPE html>
<html lang="en" ng-app='angularSetup'>

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <title>Angular Setup ng-repeat</title>
</head>

<body ng-controller="mainCntrl">
    <div ng-repeat="items in player">
        <h1> {{items.handle}}</h1>
        <h3> {{items.rank}}</h3>
        <div ng-repeat='things in items.clan'>
            <h5>{{things}}</h5>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>