<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <span>
            <div class="serviceBox">
    <h1 id='levelTitle'>LEVEL 2 BOUNTY RATES:</h1>
    <h3 id='servicesHeading'>Services:</h3><img class="bountyKiller" src="https://hydra-media.cursecdn.com/swtor.gamepedia.com/a/a6/BountyHunterClassPage.png?version=32e6de56d5d9ac9c9328e84d4e9a715d">
    <ul id="listOfServices">
        <li>Tracking</li>
        <li>Capturing</li>
        <li>Dead or Alive</li>
    </ul>
              <h3 id="fee">Fee:</h3>
              <ul>
              <li id="serviceFees">$5000-$8000 Galactic Credits</li>
                </ul>
               <div class="row">
    <div class="col-md-4 col-md-offset-8">
        <p id="servicesDescription">Level 2 services include high risk locations such as Jakku, Naboo, and Tatooine.</p>
        </div>
                </div>
        <button class='button' ng-click='bookMe("/bounties")'>Book Level 2</button>
                </div>
</span>
        </div>
    </div>
</div>